<h1>Welcome to Mr Cocktails</h1>
<% @cocktails.each do |cocktail| %>
<p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
<% end %>
<%= link_to "Create a new Cocktail", new_cocktail_path, class: 'btn btn-primary' %>
