<div class="banner">
  <div class="text">
    <h1>Thirsty?</h1>
    <h2>Come and get Wasted NOW!</h2>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="card-lg">
        <h2><%= cocktail.name %></h2>
      <%= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary btn-sm" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


